<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="/">Loja Virtual</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('admin')}}">Admin</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/marcas">Fabricantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categoria">Categorias</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Adicionar
                </a> -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('addmarca')}}">Fabricantes</a></li>
                  <li><a class="dropdown-item" href="{{url_for('addcat')}}">Categorias</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{url_for('addproduto')}}">Produtos</a></li>
                </ul>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Marcas | Fabricantes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for marca in marcas%}
                  <li><a class="dropdown-item" href="{{url_for('get_marca', id=marca.id)}}">{{marca.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for cat in categorias %}
                <li><a class="dropdown-item" href="{{url_for('get_categoria', id=cat.id)}}">{{cat.name}}</a></li>
                  {% endfor %}
              </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('getCarro')}}" aria-disabled="true" tabindex="-1">Carrinho({{session['LojainCarrinho']|length}})</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(231, 7, 7);" href="{{url_for('LogoutCliente')}}" >&nbsp; {{current_user.name|capitalize}} | Sair</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(187, 120, 3);" href="{{url_for('cadastrar_cliente')}}" >Cadastrar</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="color: rgb(8, 120, 0);" href="{{url_for('clienteLogin')}}" >Login</a>
            </li>
            {% endif %}
            </ul>
            <form class="d-flex" method="POST">
                <input class="form-control me-2" type="search" placeholder="Pesquisar Produto" name="search_string">
                <input class="btn btn-outline-success" type="submit" formaction="/search" value="Pesquisar">
            </form>
        </div>
    </div>
</nav>